*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background-color: #3EAD92;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 5%;
}

li, a, button {
    font-family: 'Courier New', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

button {
    padding: 15px 20px;
    background-color: rgba(252, 176, 56, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(252, 176, 56, 0.8);
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #fcb038;
}